PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/m_test_backend
CORS_ORIGIN=*
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin12345
SESSION_SECRET=super-secret-session-key
ADMIN_COOKIE_SECRET=super-secret-cookie-key
